.cube {
  transition: all .3s;
}

.cube, .cube > * {
	position: absolute;
}

.cube.wall > * {
  /*background-image: url("../img/backgroun-2.jpg");*/
  background-image: url("../img/stone.png");
  background-size: contain;
}

.cube.player > * {
  background-image: url("../img/wood.jpg");
  /*background-image: url("../img/backgroun-2.jpg");*/
  /*background-image: url("../img/backgroun-4.jpg");*/
  background-size: contain;
}

.cube.floor > * {
  /*background-image: url("../img/stone.png");*/
  /*background-size: 50px 50px;*/
  background-repeat: repeat;
  background-image: url("../img/background-grass.jpg");
  background-size: contain;
}

.cube.start-position > *{
  background-image: url("../img/start.png");
  background-size: contain;
  background-repeat: repeat;
}

.cube.end-position > * {
  background-image: url("../img/meta.jpg");
  background-size: contain;
  background-repeat: repeat;
}

.cube {
	transform-style: preserve-3d;
  position: relative;
}

.cube.hide {
  display: none;
}

#cube-model {
  top: 10px;
  left: 10px;
}
