
.cube, .top, .bottom, .left, .right, .back, .front {
	position: absolute;
}

.top, .bottom, .left, .right, .back, .front {
  width: 50px;
  height: 50px;
  opacity: .9;
}

.cube {
	transform-style: preserve-3d;
  transform: translateZ(55px) rotateX(-90deg);
  transform-style: preserve-3d;
}

.cube.hide {
  display: none;
}

#cube-model {
  top: 10px;
  left: 10px;
}

.top {
  background-color: red;
  transform: rotateX(90deg) translateZ(25px);
}

.bottom {
  background-color: yellow;
  transform: rotateX(-90deg) translateZ(25px);
}

.left {
  background-color: green;
  transform: rotateY(-90deg) translateZ(25px);
}

.right {
  background-color: skyblue;
  transform: rotateY(90deg) translateZ(25px); 
}

.back {
  background-color: brown;
  transform: rotateY(180deg) translateZ(25px);
}

.front {
  background-color: blue;
  transform: translateZ(25px);
}
