
.maze-container {
	/*background-image: url('../img/background-A-2.jpg');*/
	width: 100%;
  height: 100%;
	position: relative;
	perspective: 3000px;
	transform-style: preserve-3d;
	top: 200px;
	/*background: skyblue;*/

}

.cube-container {
	width: 800px;
	height: 700px;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  position: absolute;
  left: 200px;
}

@media only screen and (max-width: 900px) {
	.cube-container {
		left: 20px;
	}
}

