.progress-bar-container {
  width: calc(90% - 100px);
  height: 30px;
  position: relative;
  top: 40px;
  left: 20px;
  border-radius: 10px;
  
  transition: top .5s linear; 
}

.progress-bar-container.hide {
  top: -40px;
}

.progress-bar-img {
  width: calc(100% - 100px);
  height: 100%;
  background-image: url('../img/grass.png');

  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 50px;
}

/**************************STYLE FOR PROGRESS BAR ************************/
.progress-bar[value]::-webkit-progress-bar {
  background-color: black;
  border-radius: 10px;
}
.progress-bar::-webkit-progress-value { 
  background-color: greenyellow; 
 
}

.progress-bar[value] {
  position: absolute;
  /* Eliminamos la apariencia por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: calc(100% - 100px);
  height: 100%;
  color: greenyellow;
}
/**************************************************************************/

.flag-start {
  background-image: url('../img/flag-start.png');
  float: left;
}

.flag-end {
  background-image: url('../img/flag-end.png');
  float: right;
}

.flag-start, .flag-end {
  background-size: 50px 60px;
  background-repeat: no-repeat;
  width: 50px;
  height: 60px;
  margin-top: -30px;
}

.progress-bar-player-icon, .progress-bar-enemy-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: -20px;
}

.progress-bar-player-icon {
  background-image: url('../img/pig-normal.png');
  left: 60px;
}

.progress-bar-player-icon.happy {
  background-image: url('../img/pig-happy.png');
}

.progress-bar-player-icon.sick {
  background-image: url('../img/pig-sick.png');
}

.progress-bar-enemy-icon {
  background-image: url('../img/bird-normal.png');
  right: -40px;
}

.progress-bar-enemy-icon.happy {
  background-image: url('../img/bird-happy.png');
}

.progress-bar-enemy-icon.scared {
  background-image: url('../img/bird-scared.png');
}